:root {
    /* Кольори */
    --white: #FFFFFF;
    --blue: #2196F3;
    --black: #212121;
    --dark-gray: #2F303A;
    --gray: #757575;
    /* Шрифти */
  --font-main: 'Roboto', sans-serif;
  --font-accent: 'Raleway', sans-serif;

  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 700;
  --font-black: 900;
}

body.home {
    background-color: var(--white); 
}
.blue {
    color: var(--blue);
}
.black {
    color: var(--black);
}
header a {
    color: var(--black);
}
.highlight {
    color: var(--blue);
}
header .email {
    color: var(--blue);
}
header .tel {
    color: var(--gray);
}
body.studio main section:first-of-type {
    background-color: var(--dark-gray);
    color: var(--white);
}
main section:first-of-type button {
    background-color: var(--blue);
    color: var(--white);
}
main section:nth-of-type(2) p {
    color: var(--gray);
}
main section:nth-of-type(4) p {
    color: var(--gray);
}
footer {
    background-color: var(--dark-gray);
    color: var(--white);
}
.white {
    color: var(--white);
}
footer address a {
    color: var(--gray);
}
button:hover {
    background-color: var(--blue);
    color: var(--white);
}